.sliderfor-applied {
    background: linear-gradient(90deg, rgba(126, 144, 254, 0.05) 0%, rgba(152, 115, 255, 0.05) 100%);
    padding: 50px;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 20px;
}


.review-item {
    display: flex;
    width: 60%;
    height: 300px;
    border: 1px solid #95A0A7;
    border-radius: 10px;
    margin: 20px;
    align-items: center;
    margin-inline: auto;
}

.review-item img {
    width: 180px;
    height: 180px;
    padding: 8px;
}

.review-details {
    flex-grow: 1;
    margin: 10px;
}

.review-details p {
    margin: 0 15px;
}

.review-item .product-title {
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
}

.orange-text {
    color: orange;
}
.not-applied{
  background-color: #95A0A7;
  padding: 10px;
  text-align: center;
  font-weight: 500;
  color: aquamarine;
}

/*
button delete
*/
.applied-btn {
    margin: 10px;
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    border-radius: 8px;
    color: white;
    padding: 15px;
}
.c1{
    padding: 10px;
}

.p1{
    padding: 10px;
}
.i1{
    padding: 10px;
}
.filter-buttons{
    text-align: center;
    margin-top: 20px;
}
.f-b{
    background-color: #95A0A7;
    margin: 7px;
}

/* Styles for mobile devices */
@media (max-width: 768px) {
    .applied-container {
      padding: 30px 10px;
    }
    .sliderfor-applied {
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
    }
    .sliderfor-applied h1 {
      font-size: 1.5rem;
      text-align: center;
    }
    .filter-buttons {
      display: flex;
      justify-content: space-around;
      margin-bottom: 30px;
    }
    .filter-buttons button {
      font-size: 1rem;
    }
    .container {
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .review-item {
      width: 100%;
      max-width: 350px;
      height: 700px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      background-color: #fff;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
    }
    .review-item img {
      width: 80%;
      height: auto;
      margin-bottom: 20px;
    }
    .review-details {
      width: 100%;
      text-align: center;
    }
    .product-title,
    .job-title,
    .company_name,
    .remote_time,
    .icon {
      margin: 0;
    }
    .job-title {
      font-size: 1.2rem;
      margin-bottom: 10px;
    }
    .company_name {
      font-size: 1rem;
      margin-bottom: 10px;
    }
    .remote_time {
      font-size: 0.8rem;
      margin-bottom: 10px;
    }
    .icon {
      font-size: 0.8rem;
    }
    .icon span {
      margin-left: 5px;
    }
    .applied-btn {
      margin-top: 20px;
      width: 100%;
    }
  }
  