.job-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}
.showall-btn{
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}
.main-btn{
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    margin-top: 20px;
    text-decoration: none;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;

    color: #FFFFFF;
}

@media screen and (max-width: 768px) {

    .job-container {
        display:block;
        margin-top: 25px;
        margin-left: 50px;
        margin-right: 50px;
    }
}