.chart{
    height: 800px;
    width: 900px;
    margin: auto;
    margin-top: 50px;
}
@media (max-width: 768px) {
    .chart {
      padding: 0;
    }
    h1 {
      font-size: 24px;
      margin-bottom: 16px;
    }
    .recharts-wrapper {
      width: 100% !important;
    }
    .recharts-responsive-container {
      margin: 0 auto !important;
    }
  }

  
  
  